{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}
{% block body %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="hero_beer.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenue sur mon blog.</h1>
        <p class="lead">Je suis un fan de Biérologie. Ici je vous parlerais des bières que j'ai pu goûter dans ma vie, de mon avis sur celle-ci et vous pourrez même en acheter!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{ path ('app_blog') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Voir le blog</button></a>
          <a href="{{ path ('app_products') }}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Acheter une bière</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}