{% extends 'base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}
{% block body %}

<form>
	Contact :
	
	
	{% for data in form %}
	<label for="{{ data}}">{{ data }}	
		<input type="text" name="{{ data }}">
    </label>
    {% endfor %}
	
</form>
{% endblock %}